
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
}

body {
    overflow-x: hidden !important;

}

html {
    scroll-behavior: smooth;

}


.logo{
    width: 200px;
    margin-left: 70px;
}

.lap{
    color:blue;
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* nav */

.collapse{
    margin-left: 200px;
}

.nav-item{
    margin-left: 30PX;
}

.navbar-nav{
    margin-left: 300px;
}

.img2{
    width: 200px;
    margin-left: 20px;
    border-radius: 10px;
}

.book{
    color: white;
    background-color:rgb(74, 141, 235);
    padding: 15px;
    
    
}

.book:hover{
    background-color: blue;
    color: black;
}

.book1{
    color: white;
    background-color:orangered;
    padding: 20px;
    border-radius: 20px;
}

/* about */

.about{
    text-align: center;
    color: white;
    font-weight: bolder;
}

.us{
    background-color: rgb(74, 141, 235);
    width: 100%;
    padding: 20px;
}

.welcome{
    display: flex;
}

.img12{
    padding: 15px;

  }

.img2{
    border: 5px solid rgb(74, 141, 235);
    width: 500px;
    height: 420px;
}

.text{
   font-family:sans-serif;
}


 /* footer */

 .footer {
    background-color: whitesmoke;

}

.logo123{
   
    display: inline-block;
   

}

.link{
    margin-left: 100px;
   
}

.logo1{
    width: 200px;
    margin-left: 60px;
   margin-top: 10px;
     
}

.p12{
    margin-left: 100px;
   
}
.nav_item1{
    display: inline-block;
    margin-left: 650px;
    margin-top: -320px;
    
}

.item12{
    border-bottom: 2px solid rgb(131, 131, 227);
}

.Copyright {
    text-align: center;
    /* margin-top: 50px; */
    border-top: solid wheat;
    
}




  .our{
    color: green;
  }

  .bit{
    color: green;
    font-size: x-large;
  }


  
  @media (max-width : 600px) {
    *{
        margin:0px;
        padding: 0px;
        overflow-x: hidden;
    }
    
    
    .card{
       margin-top: 20px; 
    }
    
    body {
        overflow-x: hidden !important;
    
    }

    .nav-item{
        margin-top: 0px;
        margin-left: 0px
    }

    .nav-link{
        color: white;
        background-color:rgb(74, 141, 235);
        width: 100%;
        margin-left: 0;
        text-align: center;
          
    }

.logo{
     margin-left: 5px;

}

.welcome{
    display: block;
}


.img2{
    border: none;
    width: 100%;
    margin-left: 0px;

}

.img12{
  margin-left: 0px;
}

.text{
    margin-left: 20px;
}

.collapse{
    margin-left: 0px;
}




/* footer */

.nav_item1{
    display: block;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

.logo123{
   
    display: block;
    margin-left: 20px;
    
    
}


.p12{
    margin-left: 0px;
   
}

.link{
    margin-left: 0px;
   
}



  }